:root {
    --scale: 8;
}

body {
    margin: 0px;
    padding: 20px;
}

.guessLine {
    display: inline;
}

.container {
    padding-top: 30px;
}

#header {
    width: 100%;
    height: auto;
    text-align: center;

}

#guessText {
    font-size: 20px;
}

#canvas {
    border: 1px solid black;
    width: calc(28px * var(--scale));
    height: calc(28px * var(--scale));
}

#chartDiv {
    width: 200;
    height: 100;
}