:root {
    --scale: 8;
}

body {
    margin: 0px;
    padding: 20px;
}

.guessLine {
    display: inline;
}

.container {
    padding-top: 30px;
}

#guessText {
    font-size: 20px;
}

#canvasDrawing {
    border: 1px solid black;
    width: calc(28px * var(--scale));
    height: calc(28px * var(--scale));
    touch-action: none;
}

#extrasDiv {
    display: none;
}

#chartDiv {}